
<section class="content">
    <h1 class="title">Welcome to the Angular 2+ Demo App</h1>
    <p class="description">This is a demo app to showcase the capabilities of Angular 2+.</p>
    <p class="description">This app is built with Angular CLI.</p>
    <p class="description">The source code for this app is available on <a href="">GitHub</a>.</p>
</section>
<section>
    <form>
        <input type="text" placeholder="Filter by city">
        <button class="primary" type="button">Search</button>
        <button class="" type="button">Search</button>
    </form>
</section>

